<div class="myclints">
    <div class="ourclint">
      <div class="slider">
        <div class="slide-track">
          <div class="slide">
            <%= image_tag('clintlogo/01.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('clintlogo/02.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('clintlogo/03.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('clintlogo/04.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('clintlogo/05.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('clintlogo/06.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('clintlogo/07.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('clintlogo/08.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('clintlogo/09.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('clintlogo/10.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('clintlogo/01.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('clintlogo/02.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('clintlogo/03.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('clintlogo/04.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('clintlogo/05.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('clintlogo/06.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('clintlogo/07.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('clintlogo/08.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('clintlogo/09.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('clintlogo/10.png', alt: 'My Image') %>
          </div>
        </div>
      </div>
       
    </div>
  </div>