<section class="flow">
    <div id="main">
        <div class="inside_phone">

            <div class="phone_flow" id="phone-one"><%= image_tag('phone_flow/f0001.png', alt: 'My Image') %></div>
            <div class="phone_flow" id="phone-two"><%= image_tag('phone_flow/f0002.png', alt: 'My Image') %></div>
            <div class="phone_flow" id="phone-three"><%= image_tag('phone_flow/f0003.png', alt: 'My Image') %></div>
            <div class="phone_flow" id="phone-four"><%= image_tag('phone_flow/f0004.png', alt: 'My Image') %></div>
            <div class="phone_flow" id="phone-five"><%= image_tag('phone_flow/f0005.png', alt: 'My Image') %></div>
            <div class="phone_flow" id="phone-six"><%= image_tag('phone_flow/f0006.png', alt: 'My Image') %></div>
            <div class="phone_flow" id="phone-seven"><%= image_tag('phone_flow/f0007.png', alt: 'My Image') %></div>
            <div class="phone_flow" id="phone-eight"><%= image_tag('phone_flow/f0008.png', alt: 'My Image') %></div>
        </div>
        <div class="line">
            <%= image_tag('phone_flow/Line2.png', alt: 'My Image') %>
            </div>
        <div class="content_flow">
            <div class="content_container" id="content_one">
                <div class="img_section">
                    <div class="flow_img">
                        <%= image_tag('phone_flow/content/Deployment.png', alt: 'My Image') %>
                    </div>
                </div>
                <div class="content_section">
                    <h3>Analysis</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo blanditiis maiores natus aspernatur, omnis, doloremque dicta quibusdam harum reiciendis ipsa enim quae facere, dolorum exercitationem deleniti praesentium laudantium illum maxime.</p>
                </div>

            </div>
            <div class="content_container" id="content_two">
                <div class="img_section">
                    <div class="flow_img">
                        <%= image_tag('phone_flow/content/Deployment.png', alt: 'My Image') %>
                    </div>
                </div>
                <div class="content_section">
                    <h3>Analysis</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo blanditiis maiores natus aspernatur, omnis, doloremque dicta quibusdam harum reiciendis ipsa enim quae facere, dolorum exercitationem deleniti praesentium laudantium illum maxime.</p>
                </div>

            </div>

            <div class="content_container" id="content_three">
                <div class="img_section">
                    <div class="flow_img">
                        <%= image_tag('phone_flow/content/Deployment.png', alt: 'My Image') %>
                    </div>
                </div>
                <div class="content_section">
                    <h3>Analysis</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo blanditiis maiores natus aspernatur, omnis, doloremque dicta quibusdam harum reiciendis ipsa enim quae facere, dolorum exercitationem deleniti praesentium laudantium illum maxime.</p>
                </div>

            </div>

            <div class="content_container" id="content_four">
                <div class="img_section">
                    <div class="flow_img">
                        <%= image_tag('phone_flow/content/Deployment.png', alt: 'My Image') %>
                    </div>
                </div>
                <div class="content_section">
                    <h3>Analysis</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo blanditiis maiores natus aspernatur, omnis, doloremque dicta quibusdam harum reiciendis ipsa enim quae facere, dolorum exercitationem deleniti praesentium laudantium illum maxime.</p>
                </div>

            </div>

            <div class="content_container" id="content_five">
                <div class="img_section">
                    <div class="flow_img">
                        <%= image_tag('phone_flow/content/Deployment.png', alt: 'My Image') %>
                    </div>
                </div>
                <div class="content_section">
                    <h3>Analysis</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo blanditiis maiores natus aspernatur, omnis, doloremque dicta quibusdam harum reiciendis ipsa enim quae facere, dolorum exercitationem deleniti praesentium laudantium illum maxime.</p>
                </div>

            </div>

            <div class="content_container" id="content_six">
                <div class="img_section">
                    <div class="flow_img">
                        <%= image_tag('phone_flow/content/Deployment.png', alt: 'My Image') %>
                    </div>
                </div>
                <div class="content_section">
                    <h3>Analysis</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo blanditiis maiores natus aspernatur, omnis, doloremque dicta quibusdam harum reiciendis ipsa enim quae facere, dolorum exercitationem deleniti praesentium laudantium illum maxime.</p>
                </div>

            </div>

            <div class="content_container" id="content_seven">
                <div class="img_section">
                    <div class="flow_img">
                        <%= image_tag('phone_flow/content/Deployment.png', alt: 'My Image') %>
                    </div>
                </div>
                <div class="content_section">
                    <h3>Analysis</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo blanditiis maiores natus aspernatur, omnis, doloremque dicta quibusdam harum reiciendis ipsa enim quae facere, dolorum exercitationem deleniti praesentium laudantium illum maxime.</p>
                </div>

            </div>

            <div class="content_container" id="content_eight">
                <div class="img_section">
                    <div class="flow_img">
                        <%= image_tag('phone_flow/content/Deployment.png', alt: 'My Image') %>
                    </div>
                </div>
                <div class="content_section">
                    <h3>Analysis</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo blanditiis maiores natus aspernatur, omnis, doloremque dicta quibusdam harum reiciendis ipsa enim quae facere, dolorum exercitationem deleniti praesentium laudantium illum maxime.</p>
                </div>

            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js" integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js" integrity="sha512-tHvUcUQYi35zApvAa5TNR3fNhBQkVtkmWKfacnpxmix4/VTGz1lGjIVyLMp7gLgAvg+aKJjnVKokXJNS5GZ+/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<%= javascript_include_tag 'flow' %>