<div class="whyus_container" id="whyus_container">
    <div class="content">
      <p>
        We believe it takes great people to make a great product. That’s why
        we hire not only the perfect professional fits, but people who embody
        our company values.
      </p>
      <div class="data_container">
        <div class="svg_data">
          <%= image_tag('whyus/whyus.svg', alt: 'My Image') %>
          <div class="data">
            <div class="numbers_text">
              <div class="text_1">Worked On</div>
              <div class="number">100+</div>
              <div class="text_2">Worked On</div>
            </div>
          </div>
        </div>
        <div class="svg_data">
          <%= image_tag('whyus/whyus.svg', alt: 'My Image') %>
          <div class="data">
            <div class="numbers_text">
              <div class="text_1">Worked On</div>
              <div class="number">100+</div>
              <div class="text_2">Worked On</div>
            </div>
          </div>
        </div>
        <div class="svg_data">
          <%= image_tag('whyus/whyus.svg', alt: 'My Image') %>
          <div class="data">
            <div class="numbers_text">
              <div class="text_1">Worked On</div>
              <div class="number">100+</div>
              <div class="text_2">Worked On</div>
            </div>
          </div>
        </div>
        <div class="svg_data">
          <%= image_tag('whyus/whyus.svg', alt: 'My Image') %>
          <div class="data">
            <div class="numbers_text">
              <div class="text_1">Worked On</div>
              <div class="number">100+</div>
              <div class="text_2">Worked On</div>
            </div>
          </div>
        </div>
        <div class="svg_data">
          <%= image_tag('whyus/whyus.svg', alt: 'My Image') %>
          <div class="data">
            <div class="numbers_text">
              <div class="text_1">Worked On</div>
              <div class="number">100+</div>
              <div class="text_2">Worked On</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>