<div class="who_we_container" >
    <div class="who_we_are_con">
      <div class="we_are_text">
        <p>Zits is an established digital transformation agency offering unparalleled level of expertise to build the best B2B and B2C eCommerce solutions on the Market . We are a digital transformation consultancy and software development company that provides cutting edge engineering solutions, helping Fortune 500 companies and enterprise clients untangle complex issues that always emerge during their digital evolution journey.</p>
      </div>
      <div class="we_are_img">
        <%= image_tag ('about/founder.png') %>
      </div>
    </div>
    <div class="who_we_are_slider">
      <div class="slider">
        <div class="slide-track">
          <div class="slide">
            <%= image_tag('about/we.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('about/we.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('about/we.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('about/we.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('about/we.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('about/we.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('about/we.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('about/we.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('about/we.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('about/we.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('about/we.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('about/we.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('about/we.png', alt: 'My Image') %>
          </div>
          <div class="slide">
            <%= image_tag('about/we.png', alt: 'My Image') %>
          </div>
        </div>
      </div>
    </div>
  </div>