<%= stylesheet_link_tag "about/about" %>
    <%= render  "aboutpageHead" %>
    <div class="desktop_heading main_headings" id="who_we_container">
        <%= image_tag ('headingForDesktop/whoweareDesktop.png') %>
    </div>
    <%= render  "aboutWhoWrAre" %>
    <div class="desktop_heading main_headings">
        <%= image_tag ('headingForDesktop/foundermessageDesktop.png') %>
    </div>
    <%= render  "aboutFounderMessage" %>